body {
  background-image: url("imagen.jpg");
  background-size: cover; 
}
h1 {
  color: lightblue; 
}

.dat {
  margin-top: 15px; 
  width: 300px; 
  text-align: center; 
  margin-left: auto; 
  margin-right: auto;
}

.dat p {
  color: white; 
  margin-bottom: 4px; 

